<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'site_title' %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Droid+Sans:400,700" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Codystar" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% if content_for? :hero %>
    <div class="hero-unit hero-compact" style="text-align: center;">
      <h1><%= content_for?(:page_title) ? yield(:page_title) : t(:site_title) %></h1>
      <% if content_for? :page_subtitle %>
        <p><%= yield :page_subtitle %></p>
      <% end %>
      <%= yield :hero %>
    </div>
    <% end %>
    <div class="container">
      <% unless content_for? :hero %>
      <div class="page-header">
        <h1>
          <%= content_for?(:page_title) ? yield(:page_title) : t(:site_title) %>
          <% if content_for? :page_subtitle %>
          <small>
            <%= yield :page_subtitle %>
          </small>
          <% end %>
        </h1>
      </div>
      <% end %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
